<%if signed_in? %>
<div class="container">
	<div calss="row">
		<aside class="span4">
			<section>
				<%=render 'shared/user_info'%>
			</section>
			<section>
				<%=render 'shared/micropost_info'%>
			</section>
		</aside>
	</div>
	</div>
<%else%>

<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>
 
  <p class="center">
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> or
  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
  </p>
  <%= link_to "Don't push it if you are not Marina", love_path, class: "btn btn-sm btn-success" %>
</div>
<%end%>
